In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/score.csv", error_bad_lines=False)

In [ ]:
df.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [ ]:
df = df.rename(columns={'GRE Score': 'GRE', 'TOEFL Score': 'TOEFL', 'LOR ': 'LOR', 'Chance of Admit ': 'Probability'})
df.head()

   Serial No.  GRE  TOEFL  University Rating  ...  LOR  CGPA  Research  Probability
0           1  337    118                  4  ...  4.5  9.65         1         0.92
1           2  324    107                  4  ...  4.5  8.87         1         0.76
2           3  316    104                  3  ...  3.5  8.00         1         0.72
3           4  322    110                  3  ...  2.5  8.67         1         0.80
4           5  314    103                  2  ...  3.0  8.21         0         0.65

[5 rows x 9 columns]

In [ ]:
df.drop('Serial No.', axis='columns', inplace=True)
df.head()

   GRE  TOEFL  University Rating  SOP  LOR  CGPA  Research  Probability
0  337    118                  4  4.5  4.5  9.65         1         0.92
1  324    107                  4  4.0  4.5  8.87         1         0.76
2  316    104                  3  3.0  3.5  8.00         1         0.72
3  322    110                  3  3.5  2.5  8.67         1         0.80
4  314    103                  2  2.0  3.0  8.21         0         0.65

In [ ]:
X = df.drop('Probability', axis='columns')
y = df['Probability']

In [ ]:
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
model_params = {'linear_regression': {
            'model': LinearRegression(n_jobs=-1),
            'parameters': {
                'normalize': [True,False],
                'fit_intercept': [True,False],
            }
        },
        
        'lasso': {
            'model': Lasso(),
            'parameters': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        
        'svr': {
            'model': SVR(),
            'parameters': {
                'gamma': ['auto','scale']
            }
        },
        
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'parameters': {
                'criterion': ['mse', 'friedman_mse'],
                'splitter': ['best', 'random'],
                'max_depth': [1,2,3,4,5,6],
                'min_samples_leaf': [100,200,300,500,1000]
            }
        },
        
        'random_forest': {
            'model': RandomForestRegressor(criterion='mse' ),
            'parameters': {
                'n_estimators': [1,5,10,100],
                'max_depth': [1,2,3,4,5,6],
                'min_samples_leaf': [100,200,300,500,1000],
            }
        },
        
        'knn': {
            'model': KNeighborsRegressor(algorithm='auto'),
            'parameters': {
                'n_neighbors': [2,5,10,20]
            }
        }}

In [ ]:
from sklearn.model_selection import GridSearchCV
import pandas as pd
scores = []

for model_name, mp in model_params.items():
    print(model_name)
    clf =  GridSearchCV(mp['model'], mp['parameters'], cv=5, 
                        return_train_score=False)
    clf.fit(X, y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
score_df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
score_df

linear_regression
lasso
svr
decision_tree
random_forest
knn

               model  ...                                        best_params
0  linear_regression  ...         {'fit_intercept': True, 'normalize': True}
1              lasso  ...                {'alpha': 1, 'selection': 'random'}
2                svr  ...                                 {'gamma': 'scale'}
3      decision_tree  ...  {'criterion': 'friedman_mse', 'max_depth': 4, ...
4      random_forest  ...  {'max_depth': 1, 'min_samples_leaf': 100, 'n_e...
5                knn  ...                                {'n_neighbors': 20}

[6 rows x 3 columns]