<a href="https://colab.research.google.com/github/utgoyal95/myexperience/blob/master/Employee_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/data2.csv", error_bad_lines=False)

In [ ]:
df.head()

   satisfaction_level  last_evaluation  ...  Department  salary
0                0.38             0.53  ...       sales     low
1                0.80             0.86  ...       sales  medium
2                0.11             0.88  ...       sales  medium
3                0.72             0.87  ...       sales     low
4                0.37             0.52  ...       sales     low

[5 rows x 10 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

dept=le.fit_transform(df['Department'])
sal_num= le.fit_transform(df['salary'])

df['salary_num'] = sal_num
df['dept'] = dept
df.head()

   satisfaction_level  last_evaluation  ...  salary_num  dept
0                0.38             0.53  ...           1     7
1                0.80             0.86  ...           2     7
2                0.11             0.88  ...           2     7
3                0.72             0.87  ...           1     7
4                0.37             0.52  ...           1     7

[5 rows x 12 columns]

In [ ]:
df.drop(['Department','salary'],axis=1,inplace=True)
df.head()

   satisfaction_level  last_evaluation  ...  salary_num  dept
0                0.38             0.53  ...           1     7
1                0.80             0.86  ...           2     7
2                0.11             0.88  ...           2     7
3                0.72             0.87  ...           1     7
4                0.37             0.52  ...           1     7

[5 rows x 10 columns]

In [ ]:
X=df.drop(['left'],axis=1)
y=df['left']

In [ ]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
model_params = {
    # 'svm': {
    #     'model': svm.SVC(gamma='auto',max_iter=-1),
    #     'params' : {
    #         'C': [1,10,20],
    #         # 'kernel': ['linear', 'rbf',],
    # #         #'shrinking':['True', 'False']
    #     }  
    # },

    # 'kneighbours': {
    #     'model': KNeighborsClassifier(n_jobs=-1),
    #     "params": {
            
    #         'n_neighbors' : [5, 10 , 100],
    #     }
    # },
    'random_forest': {
        'model': RandomForestClassifier(n_jobs=-1),
        'params' : {
            'n_estimators': [500],
            'max_depth': [5],
            'min_samples_leaf': [100],
            'criterion' : ['entropy'], 
        }
    },
    # 'logistic_regression' : {
    #     'model': LogisticRegression(multi_class='auto'),
    #     'params': {
    #         'C': [1,5,10],
    #         'solver':['newton-cg', 'liblinear']
    #     }
    # },
    # 'naive_bayes_gaussian': {
    #     'model': GaussianNB(),
    #     'params': {}
    # },
    # 'naive_bayes_multinomial': {
    #     'model': MultinomialNB(),
    #     'params': {}
    # },
    # 'decision_tree': {
    #     'model': DecisionTreeClassifier(),
    #     'params': {
    #         'criterion': ['gini','entropy'],
    #         'max_depth': [1,2,3,4,5,6],
    #         'min_samples_leaf': [100,200,300,500,1000]
    #     }
    # }     
}

In [ ]:
from sklearn.model_selection import GridSearchCV
import pandas as pd
scores = []

for model_name, mp in model_params.items():
    print(model_name)
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, 
                        return_train_score=False)
    clf.fit(X, y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
score_df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
score_df

random_forest

           model  best_score                                        best_params
0  random_forest    0.969331  {'criterion': 'entropy', 'max_depth': 5, 'min_...

In [ ]:
score_df.best_params[0]

{'criterion': 'entropy',
 'max_depth': 5,
 'min_samples_leaf': 100,
 'n_estimators': 500}